.main {
	background-color: black;
}

.messageInputBox {
	border: 0px;
	font-weight: bold;
	font-size: 1.3em;
	width: 100%;
}

.messageInputBox:focus {
	outline: 0px;   
}

.inputBox {
	padding: 7px;
	margin-left: 8px;
}

.inputBox:focus {
	border-bottom: 1px solid grey;
}
