.footerLinks {
	color: blue;
	padding: 20px;
}

.footerLinks > p, .footerLinks > div > p, .footerLinks > div > img {
	margin-left: 3px;
}

.footerLinks > .dot {
	position: relative;
	bottom: 5px;
}

.footerLinks > p, .footerStats > p {
	display: inline;
}

.footerLinks:hover {
	cursor: pointer;
}

.footerStats {
	display: inline;
}