.footerLinks {
	color: blue;
	padding: 20px;
}

.footerLinks > p, .footerLinks > div > p, .footerLinks > div > img {
	margin-left: 4px;
}

.footerLinks > .dot {
	text-align: top;
	font-weight: 2em;
	font-size: bold;
}

.footerLinks > p, .footerStats > p {
	display: inline;
}

.footerLinks:hover {
	cursor: pointer;
}

.footerStats {
	display: inline;
}